### 課題定義
1. 学生をどの車に割り当てるか
2. 乗車人数は定員以下
3. 運転免許証を持つ学生を 1人 以上割り当てる
4. 各学年の学生を 1人 以上割り当てる
5. 男女それぞれ 1人 以上割り当てる

In [22]:
from glob import glob
import os
import pandas as pd

In [8]:
# Read files
files = glob('../*/*/resource/*.csv')
# print(files)
dfs, name_df = [], []
for i, file in enumerate(files):
    df_name = os.path.splitext(os.path.basename(files[i]))[0]
    name_df.append(df_name)
    df = pd.read_csv(files[i])
    dfs.append(df)
print(name_df)

['cars', 'students']

In [15]:
cars_df = dfs[0]
students_df = dfs[1]

In [19]:
print(students_df.shape)
students_df.head(3)

(24, 4)

   student_id  license  gender  grade
0           0        0       0      1
1           1        1       1      2
2           2        1       0      3

In [21]:
print(students_df.shape)
cars_df.head(3)

(24, 4)

   car_id  capacity
0       0         6
1       1         6
2       2         5

In [44]:
from pulp import LpProblem, LpMinimize, LpVariable, lpSum

prob = LpProblem('ClubCarProblem', sense=LpMinimize)

In [47]:
S = students_df['student_id'].to_list()
C = cars_df['car_id'].to_list()
G = list(students_df['grade'].unique())
SC = [(s, c) for s in S for c in C]
S_license = students_df[students_df['license'] == 1]['student_id'].to_list()
S_g = {g: students_df[students_df['grade'] == g]['student_id'] for g in G}
S_male = students_df[students_df['gender'] == 0]['student_id']
S_female = students_df[students_df['gender'] == 1]['student_id']

U = cars_df['capacity'].to_list()

x = LpVariable('x', SC, cat='Binary')

LICENSE_NUM = 1

In [48]:
for s in S:
    prob += lpSum([x[s, c] for c in C]) == 1

for c in C:
    prob += lpSum([x[s, c] for s in S]) <= U[c]
    prob += lpSum([x[s, c] for s in S_license]) >= LICENSE_NUM

TypeError: 'LpVariable' object is not subscriptable